@charset "UTF-8";
/* CSS ドキュメント */

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #000080;
}

/*
 * Sidebar
 */

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}



.b-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.contents {
    flex: 1 0 0%;
    padding: 2rem 1.5rem;
}

.table-bordered td,
.table-bordered th {
	vertical-align: middle !important;
}
.table-bordered th {
    background: #CDDAE5;
}

.table td,
.table th,
.form-control,
.form-check-input,
.form-select {
    border: 1px solid rgba(0,0,0,0.7);
}


